#encabezado {
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: #496D8D;
    color: white;
}

#encabezado h1{
    display: inline;
}

.descripcion{
    font-size: 18px;
}

#menu{
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: #9B8030;
    color: black;
}

#menu a:visited{
    color:navy;
}

#menu a:hover{
    background-color: green;
    color:white;
}

#barralateral {
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: #8e27f6;
    color: black;
}

#contenido {
    position: absolute;
    top: 15%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #24a1df;
    color: black;
    overflow: auto;
}

#piePagina {
    font-family: monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background-color:#b7e0d3;
    color: black;
    text-align: center;
}

#encabezadoTabla {
    font-size: 25px;
    background-color:#c3f3d3;
    color: black;
}

#tablaResumen tr {
    font-size: 20px;    
}

#tablaResumen tr:nth-child(odd) {
    background-color:white;
    color:gray;
}

#tablaResumen tr:nth-child(even) {
    background-color: white;
    color:gray;
}


